
body {
height:300vh;
margin: 0;
display:flex;
flex-flow: column wrap;
justify-content: flex-start;
background-color: #f5efed;
 }

 body>header{
   display: flex;
   flex-flow: column wrap;
   justify-content: flex-end;
   flex-basis: 25%;
   height:15%;
   margin:0px 0px 0px 0px;
   padding: 0;
 }
   div{
     display:flex;
     flex-wrap: wrap;
     width:100%;
     height:80%;
   }
      div>img{
        flex-basis: 100%;
        width: 100%;
        height:100%;
      }
    nav{
      flex-basis: 15%;
      width: 100%;

    }
      nav>ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
        padding:0;
        margin: 0;
        width: 100%;

      }
       nav>ul>li{
         margin: 0;
         padding: 0;
         list-style-type: none;
         width: 20%;
         background-color: black;
         color: white;
       }

          nav>ul>li:hover{
            background-color: gold;
          }
          nav>ul>li>a, nav>ul>li>a:hover, nav>ul>li>a:visited, nav>ul>li>a:active{
          color:white;
          text-decoration:none;
          }


 body>div{
   flex-basis: 40%;
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   margin:0px 15px 0px 15px;
 }
   div>section{
     flex-basis:75%;
     margin:0% 0% 0% 2%;
   }
      .articleperso{
        display:flex;
        flex-flow: row wrap;
      }
      .articlepersoinverse{
        display:flex;
        flex-flow: row-reverse wrap;
      }

      div>section>article{
        display:flex;
        flex-flow: row wrap;
        margin:0 14% 0 14%;
      }
        div>section>article>div>header{
          flex-basis: 10%;
        }
        section>article>div{
          display: flex;
          flex-flow: column wrap;
          flex-basis: 70%;
        }
        article>div>p{
          display:flex;
          flex-flow: column wrap;
          text-align: justify;
        }

        article>img{
          flex-basis: 20%;
          height: 100%;
          margin: 3% 5% 0 3%;
          border: solid red 1px;
        }

    aside{
      flex-basis: 15%;
      display: flex;
      border: solid grey 1px;
      flex-flow: column wrap;
      justify-content: space-around;
      color: black;
      text-align: left;
      margin:0% 0% 0% 0%;
    }
      aside>header{
        text-align: left;
      }
      aside article{
        text-align: justify;
      }
          aside article p{
            margin:0 10% 0 10%;
          }

        section>a, section>a:visited, section>a:active{
          display:block;
          text-align: left;
          width: 30%;
          border: solid #3b5998 1px;
          color:#3b5998;
          background-color: #9eccee;
        }

        section>a, section>a:hover {
        color:#a8d5f3;
        background-color: #ddedf8;
        text-decoration:none;
        }
  footer{
    flex-basis: 2%;
    border: solid black 2px;
    margin:5% 2.5% 0% 5%;
  }
